absl-py
appdirs
asgiref
astunparse
atomicwrites
backports.weakref
brotlipy
clyent 
cssselect
daal4py
datashape
Django
django-environ
dnspython
environ
et-xmlfile
flatbuffers
fonttools
gast
google-pasta
googlemaps
grpcio
h5py
inflection
jsonpointer
keras
libclang
mkl-service
ml-dtypes
munkres
namex
numpy
opencv-python
openpyxl
opt_einsum
optree
patsy
pep8
ply
protobuf
pyarrow
pyasn1-modules
pycurl
PyDispatcher
pyls-spyder
pymongo
PyQt5
PyQtWebEngine
python-lsp-jsonrpc
queuelib
scikit-learn-intelex
scipy
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
webencodings
zstandard
matplotlib
pandas
python-dotenv
tensorrt
scikit-image
